@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@300&display=swap');

:root {
  --negro: rgb(11, 15, 29);
  --oscuro: #8282b9;
  --app-grey: #F2F2F2;
  --azul: #239089;
  --azul-hover: rgb(204, 204, 238);
  --verde: #008B8B;
  --rosa: #ff76e2ff;
  --lila: #8a6df1ff;
  --laranja: #ff7059ff;
  --amarelo: #ffc51aff;

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  color: white;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.rounded {
  border-radius: 100vh;
}